@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mt-16 {
  margin-top: 16px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.credit {
  background-color: #A00404;
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.credit a:active {
  color: white;
}

.credit a:visited {
  color: white;
}

.name {
  border-bottom: 2px solid black;
  padding-bottom: 24px;
}

.self_img {
  width: 324px;
  height: 324px;
}

.title h1 {
  font-size: 32px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.title span {
  font-size: 24px;
  color: #A00404;
  font-weight: bold;
  margin-left: 16px;
}

.details {
  padding-bottom: 48px;
  padding-top: 16px;
}

.details li {
  margin-bottom: 24px;
}

.education {
  padding-top: 16px;
  padding-bottom: 48px;
}

.education li {
  margin-bottom: 24px;
}

.skills {
  background-color: #415165;
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 50px;
}

.skills h1 {
  font-size: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  max-width: 996px;
  margin: 0 auto;
}

.skills h1 span {
  font-size: 24px;
  color: white;
}

.skill-detail {
  margin: 40px auto 0;
  border-left: 1px solid white;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-left: 24px;
}

.skill-detail li:not(:last-child) {
  margin-bottom: 20px;
}

.experience {
  padding-top: 72px;
  padding-bottom: 72px;
}

.experience-list {
  margin-top: 16px;
  margin-left: 16px;
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
}

.experience-list li:not(:last-child) {
  margin-bottom: 32px;
}

.footer {
  background-color: #415165;
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 50px;
}

.footer h1 {
  font-size: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  max-width: 996px;
  margin: 0 auto;
}

.footer h1 span {
  font-size: 24px;
  color: white;
}

.contact {
  margin-top: 24px;
}

.contact li:not(:last-child) {
  margin-bottom: 16px;
}

.contact .method img:not(:first-child) {
  margin-left: 24px;
}
/*# sourceMappingURL=style.css.map */